body {
    background-image: url(/images/renuu.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

section {
    font-size: 40px;
    margin-left: 30%;
    
    
}

#maindiv {
    width: 1000px;
    height: fit-content;
    background-image: url(/images/wp8731557.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    text-align: center;
    color: rgb(156, 15, 114);
}

#moviename {
    font-size: 40px;
    border-radius: 20px;
}

#btn {
    font-size: 30px;
    border-radius: 20px;
}

#opt {
    font-size: 30px;
    color: rgb(9, 6, 6);
    margin-top: 20px;
}

